---
import { NAME } from "../lib/consts";
const year = new Date().getFullYear();
---

<hr class="mt-10 h-2" />
<div class="mb-2 mt-1 h-5">
  <p class="text-center text-sm text-gray-500">
    © {year}
    {NAME}. All rights reserved.
  </p>
</div>
