---
import Links from "./Links.astro";
import { NAME } from "../lib/consts";
---

<div class="mx-5 flex h-10 items-center">
  <h1 class="text-3xl font-semibold">
    {NAME}
  </h1>
  <div class="grow"></div>
  <Links />
</div>
<hr class="h-2" />
